<div class="row">
  <div class="col-12 col-lg-6">
    <div class="kt-portlet kt-portlet--tab">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <span class="kt-portlet__head-icon kt-hide">
            <i class="la la-gear"></i>
          </span>
        </div>
      </div>
      <div class="kt-portlet__body" id="b">
        <zxing-scanner
          *ngIf="scannerEnabled"
          #scanner
          (scanSuccess)="scanSuccessHandler($event)"
        >
        </zxing-scanner>
        <!-- <button
          (click)="enableScanner()"
          *ngIf="!scannerEnabled"
          type="button"
          class="btn btn-success"
        >
          สแกนสำเร็จ
        </button> -->
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div
      class="
        kt-portlet kt-callout kt-callout--info kt-callout--diagonal-bg
        scannedInfo
      "
    >
      <div class="kt-portlet__body">
        <div class="kt-callout__body">
          <div class="kt-callout__content">
            <!-- <h3 class="kt-callout__title">{{ information }}</h3> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
